<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          ・<%= link_to task.id, task_path(task.id) %> > <%= task.status %> ： <%= task.content %>
        </div>
        <div>
          <% if current_user == task.user %>
            <%= link_to "タスクの削除", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= link_to 'タスク新規作成', new_task_path(@task), class: 'btn btn-primary btn-block' %>
  <%= paginate tasks %>
</ul>